* {
    box-sizing: content-box;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
}

header {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgba(120, 120, 120, 0.5);
}

main {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    background-color: rgba(150, 150, 150, 0.5);
}

footer {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: rgba(200, 200, 200, 0.5);
}