* {
    box-sizing: content-box;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
}

aside {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.5);
}

header {
    position: absolute;
    left: 10%;
    width: 90%;
    height: 10%;
    background-color: rgba(120, 120, 120, 0.5);
}

header {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 90%;
    height: 90%;
    background-color: rgba(150, 150, 150, 0.5);
}