* {
    box-sizing: border-box;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
}

header {
    position: relative;
    width: 100%;
    padding: 5px;
}

main {
    position: relative;
    width: 100%;
    padding: 5px;
}

footer {
    position: relative;
    width: 100%;
    padding: 5px;
}

img {
    max-height: 20vh;
}


/* 

> Estilos de Cabecera

*/

.perfilImg {
    position: relative;
    max-width: 20vh;
    max-height: 20vh;
    border-radius: 50%;
    margin: 1.2vh;
    border: 2px solid black;
    box-shadow: 0px 0px 15px black;
}


/* 

> Clases de uso estandar.

*/

.div1-absoluto {
    position: absolute;
    width: 100%;
    height: 100%;
}

.div1-relativo {
    position: relative;
    width: 100%;
    height: 100%;
}

.espaciado-5px {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.espaciado-10px {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.espaciado-15px {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.espaciado-20px {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
}


/* 

> Estilos personalizados

*/

.segmento {
    position: relative;
    text-align: center;
}

.dataBox {
    position: relative;
    max-width: 40vh;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px double black;
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(55, 55, 55, 0.5);
    text-align: center;
}